<!DOCTYPE html>
<html>
  <head>
    <title>CSVImportApp</title>

<!--     <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script> -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <%= render 'layouts/navbar_top' %>
<div class="container-fluid">
<div class="row">
  <div class="row">
    <div class="col-md-3">
    </div>
     <div class="col-md-5">
       <% flash.each do |key, value| %>
            <center  class="alert alert-success"><p id="flsmsg"><%= value %></p></center>
       <% end %>
     </div>
   </div>
   <%= yield %>
</div>
</div>
</body>
</html>
